.character-length-wrapper {
  display: flex;
  justify-content: space-between;

  .character-length-text {
    color: white;
    font-family: "JetBrains Mono", monospace;

    .character-length {
      color: #a4ffaf;
    }
  }
}
