.generate-btn {
  background-color: #a4ffaf;
  padding: 1em;
  width: 100%;
  border: 2px solid #a4ffaf;
  font-family: "JetBrains Mono", monospace;
  transition: 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: #54535b;

    .generate-btn-text span {
      color: #a4ffaf;
    }

    .arrow-icon-wrapper svg {
      fill: #a4ffaf;
    }
  }

  &-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    span {
      font-size: 16px;
      font-weight: 600;
      color: #24232c;
    }
  }
}
