body {
  background-color: #1e1e1e;
  font-family: "JetBrains Mono", monospace;
}

.heading {
  color: #817d92;
  font-size: 24px;
}

@media (max-width: 576px) {
  .heading {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .password-specs-section {
    margin-top: 1em !important;
  }
}

.main-container {
  max-width: 500px;
  margin: 0 auto;
}

.password-specs-section {
  margin-top: 2em;
  background-color: #54535b;
  padding: 1em 1.5em;
}
