body {
  background-color: #1e1e1e;
  font-family: "JetBrains Mono", monospace;
}

.generate-btn {
  background-color: #a4ffaf;
  padding: 1em;
}

.heading {
  color: #817d92;
  font-size: 24px;
}

.main-container {
  max-width: 600px;
  margin: 0 auto;
}

.password-section {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: #979797;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.copy-icon {
  fill: #a4ffaf !important;
}

.password-specs-section {
  margin-top: 2em;
  background-color: #979797;
  padding: 1em 1.5em;
}

.character-length-wrapper {
  display: flex;
  justify-content: space-between;
}

.character-length-text {
  color: white;
}

.character-length {
  color: #a4ffaf;
}

.checkbox-container {
  text-align: left;
}

.checkbox-container label span.MuiTypography-root {
  color: white;
}
